PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://eventos:eventos@localhost:5432/eventos_sena?schema=public"

JWT_SECRET="cambia_esta_clave_secreta_en_produccion"
JWT_REFRESH_SECRET="cambia_esta_clave_de_refresh_en_produccion"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="no-reply@eventos.sena.edu.co"

APP_URL="http://localhost:3000"
TZ=America/Bogota
